{
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {

    // Possible errors
    "comma-dangle": 2,
    "no-cond-assign": 2,
    "no-console": 2,
    "no-constant-condition" : 2,
    "no-control-regex": 0,
    "no-debugger": 2,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-empty-class ": 0,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 0,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 0,
    "quote-props": 0,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,

    // Best pratices
    "block-scoped-var": 0,
    "complexity": [1, 11],
    "consistent-return": 2,
    "curly": 2,
    "default-case": 1,
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 0,
    "no-else-return": 1,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-void": 2,
    "no-warning-comments": [0, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": 0,
    "yoda": 0,

    // Stylistic issues
    "indent": 0,
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase" : 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "consistent-this" : 0,
    "eol-last": 0,
    "func-names": 0,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "max-nested-callbacks": [2, 3],
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": false
    }],
    "new-parens": 2,
    "no-array-constructor": 2,
    "no-inline-comments": 0,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "semi-spacing": 1,
    "no-spaced-func": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "one-var": 1,
    "semi": 2,
    "sort-vars": 0,
    "space-before-blocks": 1,
    "space-before-function-parentheses": 0,
    "object-curly-spacing": [1, "never"],
    "array-bracket-spacing": [1, "never"],
    "computed-property-spacing": [1, "never"],
    "space-infix-ops": 1,
    "keyword-spacing": [1, {"before": true, "after": true, "overrides": {}}],
    "quotes": 0,
    "no-underscore-dangle": 0,
    "no-undef": 2,
    "no-use-before-define": 0,
    "no-mixed-requires": [2, {"grouping": false, "allowCall": true}],

    "react/forbid-prop-types": 2,
    "react/no-multi-comp": [2, { "ignoreStateless": false }],
    "react/no-set-state": 1,
    "react/no-string-refs": 0,
    "react/prefer-es6-class": [2, "never"],
    "react/self-closing-comp": 2,
    "react/sort-prop-types": [2, {
      "callbacksLast": true,
      "ignoreCase": false,
      "requiredFirst": true,
    }],
    "react/wrap-multilines": [2, {
      "return": true
    }],
    "react/require-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/prop-types": [2, {"ignore": ["params", "children"]}],
    "react/display-name": 0

  },
  "globals": {
    "fetch": true
  }
}